LOCKD_TCPPORT=32803
LOCKD_UDPPORT=32769
RPCNFSDARGS='--no-nfs-version 4'
NFS4_SUPPORT="no"
RPCNFSDCOUNT=64
RPCMOUNTDOPTS="-p 892"
STATDARG="-p 662 -o 2020"
SMNOTIFYARGS=""
RPCIDMAPDARGS=""
RPCGSSDARGS=""
GSS_USE_PROXY="no"
RPCSVCGSSDARGS=""
BLKMAPDARGS=""
MOUNTD_NFS_V3="yes"
